{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

{deps,  [
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {edown, ".*", {git, "https://github.com/uwiger/edown", "master"}}
]}.

{relx,  [ 
  {release, {'dorayaki', "1.1.0"}, ['dorayaki', sasl]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

{profiles,  [
  {prod,
    [{relx, [
      {dev_mode, false},
      {include_src, false},
      {include_erts, true}
    ]}
  ]},
  {dev,
    [{relx, [
      {dev_mode, true},
      {include_src, true},
      {include_erts, false}
    ]}
  ]}
]}.

{edoc_opts, [
  {doclet, edown_doclet},
  {source_path, ["src", "test"]},
  {stylesheet, ""},
  {image, ""},
  {top_level_readme, {"./Modules.md", "https://github.com/thomasbhatia/dorayaki"}},
  {app_default,"http://www.erlang.org/doc/man"}
]}.