[
  {'dorayaki', [
  	{sasl, [{sasl_error_logger, false}]},
	{lager, [
	  {colored, true},
	  {handlers, [
	    {lager_console_backend, info},
	    {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
	    {lager_file_backend, [{file, "console.log"}, {level, info}]},
	    {lager_file_backend, [{file, "warning.log"}, {level, warning}]},
	    {lager_file_backend, [{file, "error.log"}, {level, error}]}
	  ]}
	]}
  ]}
].

